@import "menu.css";

.book-details {
  -fx-padding: 10px;
  -fx-border-color: -app-border;
  -fx-border-radius: 5px;
  -fx-background-color: white;
  -fx-spacing: 5px;
}

.book-filter-box {
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-background-color: white;
  -fx-border-color: -app-border;
  -fx-border-radius: 5px;
  -fx-margin-bottom: 10px;
}
