@import "menu.css";

.loan-status-active {
  -fx-text-fill: #28a745;
  -fx-font-weight: bold;
}

.loan-status-overdue {
  -fx-text-fill: -app-danger;
  -fx-font-weight: bold;
}

.loan-details {
  -fx-padding: 10px;
  -fx-border-color: -app-border;
  -fx-border-radius: 5px;
  -fx-background-color: white;
  -fx-spacing: 5px;
}

.loan-filter-box {
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-background-color: white;
  -fx-border-color: -app-border;
  -fx-border-radius: 5px;
  -fx-margin-bottom: 10px;
}
