@import "menu.css";

.member-info {
  -fx-padding: 10px;
  -fx-border-color: -app-border;
  -fx-border-radius: 5px;
  -fx-background-color: white;
  -fx-spacing: 5px;
}

.member-status-active {
  -fx-text-fill: #28a745;
  -fx-font-weight: bold;
}

.member-status-inactive {
  -fx-text-fill: -app-danger;
  -fx-font-weight: bold;
}

.member-filter-box {
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-background-color: white;
  -fx-border-color: -app-border;
  -fx-border-radius: 5px;
  -fx-margin-bottom: 10px;
}
